*{
    font-family: Ubuntu;
}


/* Navigation Bar */

.navbar{
    height: 12vh;
    position: sticky;
    background-image: linear-gradient(to bottom, #84f4d2, white,#84f4d2);
}


.brand-logo{
    height: 12vh;
    left: 4vw;
    width: 22.4vw;
}

#logo{
    font-size: 4vw;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.503);
    margin-top: 1.8vh;
}


#brand_title1, #brand_title2, #brand_title3{
    font-weight: bold;
}

#brand_title1, #brand_title3{
    font-size: 4rem;
    color: black;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.51);
}

#brand_title2{
    font-size: 3rem;
    color: red;
    text-shadow: 2px 2px rgba(250, 101, 101, 0.682);
}

#signOut{
    position: absolute;
    right: 10vw;
    margin-top: 30px;
}




/* Cards  */

#card-container {
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.4s;
    min-width: none;
    max-width: none;
}



/* Card */

.card-item {
    width: 382.4px;
    height: 244.517px;
    margin-bottom: 30px;
    height: 35vh;
    display: flex;
    transition: all 0.3s ease-in-out;
}

/* Card Hover */

.card-item:hover {
    transform: scale(1.1);
    
}

/* Image Box */

.image {
    width: calc(40%);
    border-right: 2px solid grey;
    height: 100%;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* Content Box */

.content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}



/* Vendor Name Box */

.vendor_name_box {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.vendor_name{
    font-size: 1.5rem;
}



/* Vendor Address Box */

.vendor_address_box {
    width: 100%;
    height: 19%;
    display: flex;
    align-items: center;
}

.box_title_a {
    font-size: 1.2rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Description Box */

.vendor_description_box {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}

.box_title_v {
    font-size: 1.2rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Status Box */

.status_box {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;

}


.status {
    font-size: 1.2rem;
    padding-right: 4%;
    font-weight: bold;
}

.open-close {
    font-size: 1.2rem;
    font-weight: bold;
    color: chartreuse;
}


/* Phone Number Box */

.phoneNo_box {
    height: 10%;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(128, 128, 128, 0.39);
}

.phone_label {
    font-weight: bold;
}

.phoneNo_box i {
    font-size: 1rem;
    
}

.phoneNo{
    display: flex;
    align-items: center;
}



/*----------------------------------------------------------------------*/

/* MODAL DESIGN */


/* Modal Activate */
#card-container.active {
    filter: blur(20px);
    transition: 0.4s;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.card_select {
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.536);
    display: flex;
    /* transition */
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: scale(1.2);
    opacity: 0;
    transition: opacity 0.2s 0.2s ease-in-out,
                transform 0.2s 0.2s ease-in-out,
                visibility 0.2s 0.2s ease-in-out;
    transition-delay: 0.01s;
}           

.card_select.active{
    top: 0;
    left: 0;
    transform: scale(1);
    /* transition: opacity 0.2s 0.2s ease-in-out,
                transform 0.2s 0.2s ease-in-out; */
    visibility: visible;
    opacity: 1;
    transition-delay: 0.01s;
}

/* Image Container  */
.image_container {
    width: 35%;
    height: 100%;
    border-right: 1px solid black;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Popup Container */
.card_select_content {
    width: 65%;
    overflow: auto;
}


/* Cross Button */
.cross_btn {
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.cross_btn i {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Shop Name Box */
.shopName_box{
    width: 65%;
    height: 15%;
    position: fixed;
    background-color: rgb(78, 84, 241);
    z-index: 1;
    padding-bottom: 1vh;
    border-bottom: 1px solid grey;
    display: flex;
}

.shopName_title {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    padding-left: 4%;
    width: 81%;
}

.side {
    width: 19%;
}

.phone_side {
    font-size: 1.2rem;
    width: 88%;
    height: 50%;
    display: flex;
    align-items: center;
    color: grey;
}
.phone_side i, .phone_side span {
    color: rgba(255, 255, 255, 0.747);
}
.phone_side i {
    font-size: 1.4rem;
}

.ownerName_side {
    font-size: 1rem;
    display: flex;
    width: 100%;
    height: 50%;
}
.ownerName {
    color: white;
    align-self: flex-end;
}

/* Info Box */
.info_box {
    margin-top: 13.5vh;
    width: 100%;
    height: 15%;
    display: flex;

}

.address_about_box {
    width: 50%;
    height: 100%;
}

.address_box {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
.address_title {
    padding-left: 2vw;
}
.address_title i {
    font-size: 1.8vw;
}
.address_inbox {
    padding-left: 1.5vw;
}


.about_box {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
}
.about_title {
    padding-left: 2vw;
}
.about_title i {
    font-size: 1.8rem;
}
.about_inbox {
    padding-left: 1.5vw;
}



.status_container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_inbox {
    font-size: 1.4rem;
}
.status_line {
    font-weight: bold;
    color: chartreuse;
}





.vote_box {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vote_item {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}
.voteCount {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
#arrow_up , #arrow_down {
    font-size: 3rem;
    line-height: 0.5;
    cursor: pointer;
}

/* Dealing with Tabs */
.tabs_box{
    margin-top: 2vh;
    width: 100%;
}
.tabs {
    text-align: center;
    width: 100%;
}
.tab{
    width: 49%;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.tabs .indicator{
    display: none;
}
#tab_c{
    background-color: #633af4;
    color: white;
}
#tab_m {
    color: #633af4;
}


/* Comment Container */
#comment_container {
    height: 51.2vh;
}
.comment_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.comment_box .comment_heading {
    align-self: flex-start;
    padding-left: 5%;
}
.collection {
    margin: .1rem 0 0.1rem 0;
}
.addComment {
    height: 13%;
    width: 90%;
    display: flex;
}
.addComment input {
    width: 80%;
}
.addComment i {
    height: 100%;
    width: 7.8%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}
#send_btn {
    cursor: pointer;
}
.comment_scrollbox {
    width: 90%;
    height: 60%;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: auto;
}
.comment_userName {
    font-weight: bold;
}


/* Menu Container */
#menu_container {
    display: none;
    height: 53.7vh;
}
.menu_system {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    margin-top: 2vh;
    align-self: center;
    width: 90%;
    border: 0.5px solid grey;
}